node_modules/
data/
*.log
dist/
out/
release/
site/
www/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/keystore.properties
android/*.jks
android/*.keystore
